body {
  margin: 0;
  font-family: Georgia, serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#container > div:first-child {
  background-color: #de6fa1 ;
  color: white;
  padding: 20px;
}

#container > div:nth-child(2) {
  background-color: transparent;
  padding: 20px;
}

#container > div:nth-child(3) {
  background-color:#de6fa1 ;
  color: white;
  padding: 20px;
}

.style-switcher {
  position: fixed;
  top: 10px;
  right: 10px;
}

.style-switcher button {
  background-color:#de6fa1 ; /* Match first div color */
  color: white;
  padding: 8px 12px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.style-switcher button:hover {
  background-color: transparent;
  color: #de6fa1 ;
  border: 1px solid #2c3e50;
}
